**/*.map

# Dependencies
node_modules/*
.publish/*


# OS or Editor folders
._*
.cache
.DS_Store
.idea
.out
.project
.settings
.tmproj
*.esproj
*.sublime-*
.vscode
nbproject
Thumbs.db
logs
*.log
dist/css/
dist/js/