//base scss

@import '_variables';
@import '_mixins';

// Client came from a print design background, so they wanted exact line breaks everywhere. They did not have a good understanding of how fluid design and building mobile-first worked.
// Many concession were made to get the site to look how they wanted at the exact break points they wanted.

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol,
ul {
    list-style: none;
}
html,
body {
    height: 100%;
}

body {
    background: $background-color;
    margin: 0;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
header {
    max-width: $screen-lg-max;
    width: 100%;
    margin: 0 auto;
}
section {
    width: 100%;
    flex-grow: 1;
    &.red-background {
        background: $red;
        color: white;
    }
    &.black-background {
        background: black;
        color: white;
    }
}

.content-container {
    max-width: $screen-lg-max;
    margin: 0 auto;
    padding: 0 24px;
    &.indented {
        @include mq(large) {
            padding: 0 60px;
        }
        @include mq(xlarge) {
            padding: 0 106px;
        }
    }
}

.portfolio-container {
    max-width: $screen-lg-max;
    margin: 0 auto;
}

.hero {
    margin: 3em 0;
    text-align: center;
    font-size: 0.375em;
    @include mq(small) {
        font-size: 0.625em;
    }
    @include mq(medium) {
        font-size: 0.825em;
    }
    @include mq(large) {
        text-align: left;
        font-size: 0.9em;
    }
    @include mq(xlarge) {
        font-size: 1.25em;
    }
    h2 {
        line-height: 102%;
    }
}

.description p {
    line-height: 1.625em;
    @include mq(xlarge) {
        font-size: 1.35em;
    }
}

.clients {
    margin-top: 30px;
    li {
        margin: 0.5em 0;
    }
}

.hide {
    display: none;
}

.alt-logo-image {
    margin: 2.5em 0 0;
    padding: 0;
    @include mq(medium) {
        max-width: none;
        margin: 2.5em 0 0;
    }
    & img {
        width: 100%;
        max-width: 200px;
    }
}

.show-large-up {
    display: none;
    @include mq(large) {
        display: inherit;
    }
}
