//base scss

@import '_variables';
@import '_mixins';

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol,
ul {
    list-style: none;
}

body {
    background: $background-color;
    margin: 0;
    min-width: 320px;
}

section {
    padding: 1em;
}

header,
section {
    max-width: $screen-lg-max;
    margin: 0 auto;
}

.hero {
    margin: 1em 0 4em;
    text-align: center;

    @include mq(xsmall) {
        font-size: 0.75em;
    }
    @include mq(large) {
        text-align: left;
    }
}

.description p {
    line-height: 1.75em;
}

address {
    margin: 2em 0 2em;
    @include mq(large) {
        margin: 1em 0 2em;
    }
}

.clients {
    li {
        margin: 0.5em 0;
    }
}

.hide {
    display: none;
}

.alt-logo-image {
    margin: 2.5em 0 0;
    padding: 0;
    @include mq(medium) {
        max-width: none;
        margin: 2.5em 0 0;
    }
    & img {
        width: 100%;
        max-width: 200px;
    }
}

.show-large-up {
    display: none;
    @include mq(large) {
        display: inherit;
    }
}
