header {
    padding: 11px 6px;
    .logo {
        &.large-2 {
            @include mq(large) {
                max-width: fit-content;
            }
        }
        &.large-5 {
            @include mq(large) {
                max-width: none;
            }
        }
        .logo-image {
            max-width: 108px;
            padding: 0 21px;
            @include mq(xlarge) {
                max-width: 180px;
            }
            img {
                width: 100%;
            }
        }
        .logo-title {
            font-family: $font-interface;
            color: $text-color;
            font-size: 1.125em;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            justify-content: center;
            text-align: center;
            margin-top: 8px;
            @include mq(large) {
                justify-content: flex-start;
                text-align: left;
                margin: 0;
            }
            @include mq(xlarge) {
                margin-left: 12px;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .navigation {
        justify-content: center;
        @include mq(large) {
            justify-content: flex-end;
            padding-right: 60px;
        }
        @include mq(xlarge) {
            padding-right: 106px;
        }
    }
}
