header {
    padding: 1.5em 1em;

    .logo {
        font-family: $font-interface;
        color: $accent-text-color;
        font-size: 1.125em;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    nav {
        margin: 0;
        @include mq(large) {
          margin-right: 0;
        }

        ul {
            justify-content: flex-start;
            @include mq(large) {
                justify-content: flex-end;
            }
            li {
                color: $alt-text-color;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}