.splash-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    padding: 1em;
    @include mq(large) {
        padding: 0;
    }

    &.coming-soon {
        margin-top: 40px;
        max-width: 500px;
    }

    img {
        width: 100%;
        max-width: 600px;
    }
}
