nav {
    font-family: $font-interface;
    font-weight: 700;
    font-size: 1em;
    max-width: 440px;
    margin: 0 auto;
    text-transform: uppercase;

    ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        li {
            letter-spacing: 2px;
            color: $home-nav-text-color;
            padding: 0 10px;

            #{$a-tags} {
              color: inherit;
              text-decoration: none;
            }

            #{$a-tags-hover},
            a.active {
              color: #000000;
              text-decoration: none;
            }
        }
    }
}