.portfolio {
    padding-top: 2em;
    grid-template-columns: repeat(2, 1fr);
    @include mq(large) {
        grid-template-columns: repeat(4, 1fr);
    }
    @include mq(xlarge) {
        grid-template-columns: repeat(5, 1fr);
    }
    &.below {
        padding-top: 3em;
    }
    > a {
        img {
            display: block;
            width: 100%;
            max-width: 540px;
        }
    }
}

.portfolio-details {
    padding-top: 2em;
    display: grid;
    @include mq(large) {
        padding: 2em 0 0;
        grid-template-columns: 1fr 218px;
        column-gap: 16px;
    }
    .caption {
        text-align: center;
        margin-bottom: 8px;
        @include mq(large) {
            grid-column-end: -1;
            margin-bottom: 0;
            text-align: left;
        }
        .title {
            font-size: 1.5em;
            margin-bottom: 0.25em;
        }
        .subtitle {
            font-size: 1em;
            font-weight: 300;
            line-height: 1em;
        }
    }
    .image {
        width: 100%;
        @include mq(large) {
            grid-row: 1;
            &.landscape {
                grid-row: 2;
                grid-column: 1 / span 2;
            }
        }
    }
}

.portfolio-nav {
    padding: 2em 1em 0;
    @include mq(xlarge) {
        padding: 2em 0 0;
    }
    > .column:last-child {
        text-align: right;
    }
    a,
    button {
        color: inherit;
        background-color: transparent;
        border: none;
        font-family: $font-content;
        font-size: inherit;
        text-decoration: none;
        padding: 0;
        cursor: pointer;
    }
}
